@tailwind base;
@tailwind components;
@tailwind utilities;

.section-card {
    @apply bg-gray-200 rounded-lg shadow-md p-4 
}   

.list-entry-card {
    @apply bg-white rounded-lg shadow-md p-4 mt-2 w-full text-left
}

.list-entry-card-selected {
    @apply bg-sky-200 rounded-lg shadow-md p-4 mt-2 w-full text-left
}

.list-heading {
    @apply text-blue-950 text-lg font-semibold
}

.primary-btn {
   @apply bg-orange-500 text-white rounded py-2 px-4 min-w-20
           hover:bg-orange-600
}

.outline-btn {
    @apply border-2 border-orange-500 text-orange-500
           hover:bg-orange-500 hover:text-white rounded
            py-2 px-4 min-w-20
}

.secondary-btn {
    @apply bg-gray-500 text-white rounded py-2 px-4 
            hover:bg-gray-600
 }
 

/* custom style for PrimeVue Toasts */
.p-toast {
    opacity: 1 !important;
}

